.bowerrc.cordova.cordovaignore.eslintignore.eslintrc.git.gitattributes.gitignore.jshintignore.jshintrc.travis.ymlbinbower.jsonbuild-properties.json.exampleCHANGELOG.mdconfig.xmlhooksimagesionic.projectLICENSEpackage.jsonREADME.mdresourcesscssspecsrctsconfig.jsonwebpack.config.jsWHATSNEW.mdwww.htaccess